<div class="container mt-5 text-center">
  <div class="card-body mx-auto shadow p-3 mb-5 bg-body rounded" style="width: 30rem;">
    <h2>Stupid Coaching</h2>
    <p>Your question : <%=@question%></p>
    <p>Coach answer : <%=@answer%></p>
    <%= link_to "Ask a new question", ask_path, class: "text-decoration-none" %>
  </div>
</div>
